@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background-color: #FEFEFE;
  color: #000E1C;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}